<div class="container">
  <div class="jumbotron">
    <h3>Quiz</h3>
  </div>
  <div class="container">
    <% @questions.each do |question| %>
      <div class="flashcard-container">
        <div class="flashcard">
          <div class="question">
            <div class="content">
              <%= question.question_content %>
            </div>
          </div>
          <div class="answer">
            <div class="content">
              <% question.answers.each do |answer| %>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q<%= question.id %>" id="q<%= question.id %>_a<%= answer.id %>" value="<%= answer.id %>">
                  <label class="form-check-label" for="q<%= question.id %>_a<%= answer.id %>"><%= answer.answer_content %></label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
