<% content_for :current_page, 'profile_index' %>
<%= render "shared/navbar"%>
<div class="profile-index">
  <div class="container">
    <div class="user_info">
      <%# will change the user avatar placeholder  %>
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, zoom: "0.6", class: "user-avatar"%>
      <% else %>
        <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692612721/user-icon.png", width: 150, height: 150, class: "user-avatar") %>
      <% end %>
      <%# <%= cl_image_tag("https://i.pravatar.cc/", height: 70, crop: :fill, class: "user-avatar")%>
      <div class="user_content">
        <div class="profile_edit">
          <p><strong><%= @user.username %></strong></p>
          <%= link_to edit_profile_path(current_user) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
        <ul>
          <li><i class="fa-solid fa-cake-candles"></i> <%= @user.age %> <small>years old</small></li>
          <li><i class="fa-solid fa-graduation-cap"></i><%= @user.grade.capitalize %></li>
          <hr>
        </ul>
      </div>
    </div>
    <div class="blackboard-box">
      <% if @latest_project %>
        <p>â­ï¸Latest Track</p>
        <p class="profile-latest-track"><%= link_to @latest_project.name, project_path(@latest_project) %></p>
      <% else %>
        <p>No tracks added yet.</p>
      <% end %>
      <br>
      <% if @nearest_deadline_project %>
        <p class="profile-upcoming-deadline">Your Upcoming Deadline</p>
        <p class="profile-latest-track">
          <%= link_to @nearest_deadline_project.deadline.strftime('%Y-%m-%d %H:%M'), project_path(@nearest_deadline_project) %>
        </p>
      <% else %>
        <strong>
          <p>No upcoming deadlines.</p>
        </strong>
      <% end %>
      <div class="chalk1"></div>
      <div class="chalk2"></div>
    </div>
    <div class="interests-card">
      <p><strong>Interests</strong></p>
      <div class="profile_card">
        <% @user.interests.each do |interest| %>
          <div class="user_interest">
            <p><%= interest.name.capitalize %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="buddy-part profile-buddy">
      <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1691307874/buddy-face_inetw9.png", height: 50, crop: :fill, class: "buddy-avatar")%>
      <div class="chatting">
        <div class="says">
          <p><%= @profile_greetings.sample %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
