<% content_for :current_page, 'buddy' %>
<%= render "shared/navbar"%>
<div class="container py-3 buddy-show col-12">
  <div class="buddy-love">
    <p><i class="fa-solid fa-heart"></i> &emsp;<%= @buddy.love %></p>
  </div>
  <h3 class="text-center"><%= @buddy.name.capitalize %></h3>
</div>
<%# display buddy %>
<%# buddy comment------------------------------------------------------ %>
<div class="buddy-room-img">
  <div class="buddy-comment">
    <% if @buddy.love == 0 %>
      <p class="text-center">Give me snacks or I'm going to keep sleeping</p>
    <% elsif @buddy.love >= 1 && @buddy.love <= 3 %>
      <%# awake buddy %>
      <p class="text-center">Thank you, I like you! Give me some pizza🍕</p>
      <%# eating pizza buddy %>
    <% elsif @buddy.love >= 4 && @buddy.love <= 6 %>
      <p class="text-center">Thank you, Give me some donuts🍩</p>
      <%# eating dounuts buddy %>
    <% elsif @buddy.love >= 7 && @buddy.love <= 10 %>
      <p class="text-center">Thank you, I love you! I'm so happy❣️</p>
    <% end %>
  </div>
  <%# buddy img------------------------------------------------------------------- %>
  <div class="buddy-show-img">
    <%# sleeping buddy %>
    <% if @buddy.love == 0 %>
      <section class="sleeping-buddy">
        <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691390436/qifldk91fout1jdwru7r.png", class: "bottom", crop: :fill) %>
        <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1692203189/Sleeping-dog-mouth-closed_in6j1c.png", class: "top", height: 140, crop: :fill) %>
      </section>
      <%# awake buddy %>
    <% elsif @buddy.love >= 1 && @buddy.love <= 3 %>
      <div class="awake-buddy">
        <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691219849/dog_main.png", height: 140, crop: :fill) %>
      </div>
      <%# eating pizza buddy %>
    <% elsif @buddy.love >= 4 && @buddy.love <= 6 %>
      <section class="buddy-eating">
        <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1692370091/dog-pizza-2_wjhrja.png", class: "bottom" , height: 140, crop: :fill) %>
        <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1692370091/dog-pizza-1_v3burp.png", class: "top", height: 140, crop: :fill) %>
      </section>
      <%# eating donuts buddy %>
    <% elsif @buddy.love >= 7 && @buddy.love <= 10 %>
      <section class="buddy-eating">
        <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1692370091/dog-donut-2_or42m8.png", class: "bottom" , height: 140, crop: :fill) %>
        <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1692370091/dog-donut-1_1_e5bmzt.png", class: "top", height: 140, crop: :fill) %>
      </section>
    <% end %>
  </div>
</div>
<div class="buddy-links show-buddy-links text-center">
  <%= link_to dashboard_path do %>
    <i class="fa-solid fa-paw dashboard-paw"></i>
  <% end %>
</div>
<div class="container py-3 buddy-show buddy-points">
  <%= form_tag feed_buddy_path, method: :post do %>
    <%= label_tag :points, "Points to feed buddy:" %>
    <%= number_field_tag :points %>
    <%= submit_tag "Feed Me" %>
  <% end %>
  <h6> My Points: <%= current_user.points %></h6>
  <%# <i class="fa-solid fa-bone"></i> %>
</div>
<%= render "shared/footer" %>
<%# <ul class="budy-info">

    <li>
      <>Name: <%= @buddy.name %>
<%# </li>
    <li>
      <>Personality: <%= @buddy.personality %>
<%# </li>

  </ul> %>
