<%= render "shared/navbar"%>
<div class="container py-3 buddy-show">
  <div class="buddy-love">
    <p><i class="fa-solid fa-heart"></i> &emsp;<%= @buddy.love %></p>
  </div>

  <h3 class="text-center"><%= @buddy.name %></h3>
</div>

  <%# display buddy %>
  <div class="buddy-room-img">
    <div class="buddy-comment">
      <% if @buddy.love == 0 %>
        <p class="text-center">Give me snacks or I'm going to keep sleeping</p>
      <% elsif @buddy.love < 3 %>
        <p class="text-center">Thank you, I like you! Give me more❣️</p>
      <% elsif @buddy.love < 5 %>
        <p class="text-center">Thank you, I love you❤️</p>
      <% end %>
    </div>
    <div class="buddy-show-img">
      <% if @buddy.love == 0 %>
        <%= cl_image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691390436/qifldk91fout1jdwru7r.png", height: 140, crop: :fill) %>
      <% else %>
        <%= cl_image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691219849/dog_main.png", height: 140, crop: :fill) %>
      <% end %>
    </div>
  </div>
<div class="buddy-links text-center">
  <%= link_to dashboard_path do %>
    <i class="fa-solid fa-paw dashboard-paw"></i>
  <% end %>
</div>

<div class="container py-3 buddy-show">
  <%= form_tag feed_buddy_path, method: :post do %>
    <%= label_tag :points, "Points to feed buddy:" %>
    <%= number_field_tag :points %>
    <%= submit_tag "Feed Me" %>
  <% end %>
  <h6> My Points: <%= @user.points %></h6>
  <%# <i class="fa-solid fa-bone"></i> %>
</div>
  <%= render "shared/footer" %>

  <%# <ul class="budy-info">

    <li>
      <>Name: <%= @buddy.name %>
    <%# </li>
    <li>
      <>Personality: <%= @buddy.personality %>
    <%# </li>

  </ul> %>
