<div class="row signup-page col-12">
  <div class="container">
  <%# paw %>
    <div class="paw">
        <ul>
          <li><i class="fa-solid fa-paw yellow-paw"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw-center"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw-center"></i></li>
        </ul>
    </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="bg-white rounded-4 p-2 shadow">
        <h2 class="text-center">Create an account</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: {autocomplete: "username" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "green-btn w-100" %>
              </div>
            <% end %>
            <br>
            <%# <%= render "devise/shared/links" %>
            <hr>
          <div class="signup-page-buttom">
            <p>Already have an account?</p>
            <%= link_to "Sign in", new_user_session_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
