<%= render "shared/navbar"%>
<div class="container py-2">
  <h3 class="text-center">My Dashboard</h3>
  <div class="dashboard-container">
    <div class="my-info">
      <%# <%= display user info %>
      <p>Subject: <%= @user.subject %></p>
      <p>Current Learning Goal: <%= @user.learning_goal %></p>
      <p>Grade: <%= @user.grade %></p>
      <p>My Interests: <%= @user.interests.map(&:name).join(', ') %></p>
      <%# display latest project %>
      <% if @latest_project %>
        <p>Latest Project: <%= @latest_project.name %></p>
      <% else %>
        <p>No project added yet.</p>
      <% end %>
      <%# display upcoming deadlines %>
      <% if @upcoming_projects.any? %>
        <p>Upcoming Deadlines:</p>
        <ul>
          <% @upcoming_projects.each do |project| %>
            <li><%= project.name %> - <%= project.deadline.strftime('%Y-%m-%d %H:%M') %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No upcoming deadlines.</p>
      <% end %>
      <%# display user points %>
      <p>My Points: <%= @user_points %></p>
    </div>
  </div>
</div>

<%# display buddy %>
<div class="buddy-container">
  <%= cl_image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691219849/dog_main.png", height: 150, crop: :fill) %>
  <p class="buddy-text">Hello!</p>
</div>
<div class="buddy-links text-center">
  <%# This should link to the buddy show page in the future %>
  <%= link_to buddy_path(@buddy) do %>
    <i class="fa-solid fa-paw dashboard-paw"></i>
  <% end %>
</div>

<div class="container py-2">
    <%# display recommended projects %>
  <div class="project-recommendations">
    <% if @recommended_projects.any? %>
      <p>Try one of these projects!</p>
      <div class="project-cards">
        <% @recommended_projects.each do |project| %>
        <div class="project-card">
          <p class="project-name">Name: <%= project.name %></p>
          <p class="project-category">Category: <%= project.category %></p>
          <%= link_to '', project_path(project), class: "card-link" %>
        </div>
        <% end %>
      </div>
    <% else %>
      <p>We don't have any matches for you... yet!</p>
      <p>Try updating your interests or searching for something new.</p>
    <% end %>
  </div>
</div>
