<% content_for :current_page, 'dashboard' %>

<%= render "shared/navbar"%>
<div class="dashboard-container p-2">
  <h3 class="text-center dashboard-title">OnTrack</h3>
  <div class="dashboard-top">
    <div class="my-info">
      <%# <%= display user info %>
      <hr>
      <h5 class="text-center"><strong>Welcome <%= @user.username.capitalize %></strong></h5>
      <hr>
      <%# display latest project %>
      <div class="latest-project">
        <% if @latest_project %>
          <h6>Latest Track</h6>
          <p class="dashboard-label">
          <strong>
            <%= link_to @latest_project.name, project_path(@latest_project) %>
          </strong>
          </p>
        <% else %>
          <p class="dashboard-label">No tracks added yet.</p>
        <% end %>



        <%# display the most pressing deadline %>
        <% if @nearest_deadline_project %>
          <h6>Your Upcoming Deadline</h6>
          <p class="dashboard-label">
            <strong>
              <%= link_to @nearest_deadline_project.deadline.strftime('%Y-%m-%d %H:%M'), project_path(@nearest_deadline_project) %>
            </strong>
          </p>
        <% else %>
          <h6>No upcoming deadlines.</h6>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="buddy-container">
  <% if current_user.interest_updated_recently? %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692666748/buddy-play-1.png", class: "animated-buddy", alt: "Animated Buddy") %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692666758/buddy-play-2.png", class: "animated-buddy buddy-play-2", alt: "Animated Buddy 2") %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692666773/baseball.png", class: "rolling-baseball", alt: "Rolling Baseball") %>
    <div class="dashboard-buddy-text">
      <p class="text-center"><%= @interest_greetings.sample %></p>
    </div>
  <% elsif @buddy.love == 0 %>
    <section class="sleeping-buddy-dashboard">
      <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691390436/qifldk91fout1jdwru7r.png", class: "bottom", crop: :fill) %>
      <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1692203189/Sleeping-dog-mouth-closed_in6j1c.png", class: "top", height: 140, crop: :fill) %>
      <div class="dashboard-buddy-text">
        <p class="text-center"><%= @sleepy_greetings.sample %></p>
    </div>
    </section>
  <% elsif @buddy.love == 20 %>
    <%= image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1691307874/buddy-face_inetw9.png", height: 150, crop: :fill)%>
    <div class="dashboard-buddy-text">
      <p class="text-center"><%= @congratulation_greetings.sample %></p>
    </div>
  <% elsif current_user.interest_updated_recently? %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692666748/buddy-play-1.png", class: "animated-buddy", alt: "Animated Buddy") %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692666758/buddy-play-2.png", class: "animated-buddy buddy-play-2", alt: "Animated Buddy 2") %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1692666773/baseball.png", class: "rolling-baseball", alt: "Rolling Baseball") %>
    <div class="dashboard-buddy-text">
      <p class="text-center"><%= @interest_greetings.sample %></p>
    </div>
  <% else %>
    <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691219849/dog_main.png", height: 150, crop: :fill) %>
    <div class="dashboard-buddy-text">
      <p class="text-center"><%= @greetings.sample %> </p>
    </div>
  <% end %>
</div>


<div class="buddy-links text-center">
  <%= link_to buddy_path(@buddy) do %>
    <i class="fa-solid fa-paw dashboard-paw"></i>
  <% end %>
</div>


<div class="project-form-container project-form-card">
  <h4 class="text-center">Find Your Next Track</h4>
    <%= render 'shared/project_form' %>
</div>

<div class="dashboard-add-btn text-center py-4">
  <button class="blue-btn">
    <%= link_to "Chat with your buddy!", chatroom_path(Chatroom.last)%>
  </button>
</div>

<%# display recommended projects %>
<%# <div class="container">
  <% if @recommended_projects.any? %>
  <%# <div class="card text-center"> %>
    <%# <div class="card-header"> %>
      <%# Try one of these tracks! %>
    <%# </div> %>
    <%# <% @recommended_projects.each do |project| %>
    <%# <div class="card-body"> %>
      <%# <h6 class="card-title"><strong><%= project.name %>
      <%# <p class="card-text">Subject: <%= project.subject %>
      <%# <p class="card-text">Topic: <%= project.learning_goal %>

      <%# <%= link_to 'âž¡ï¸ Try it now!', project_path(project), class: "btn btn-light" %>
      <%# <% end %>
    <%# </div> %>
      <%# <% else %>
      <%# <p>Ooops! Sorry! ðŸ˜¬</p> %>
      <%# <p>We don't have any matches for you... yet!</p> %>
      <%# <p>Want some recommendations? Try updating your interests ðŸ˜‰ <%= link_to "Here", profiles_path %>
  <%# </div> %>
  <%# <% end %>
<%# </div>
<br> %>
