<% content_for :current_page, 'dashboard' %>

<%= render "shared/navbar"%>
<div class="container py-3">
  <h3 class="text-center dashboard-title">OnTrack</h3>
  <div class="dashboard-container">
    <div class="my-info">
      <%# <%= display user info %>
      <hr>
      <h5 class="text-center"><strong>Welcome <%= @user.username.capitalize %></strong></h5>
      <hr>
      <%# display latest project %>
      <div class="latest-project">
        <% if @latest_project %>
          <h6>Latest Track</h6>
          <p class="dashboard-label"><strong><%= @latest_project.name %></strong></p>
        <% else %>
          <p class="dashboard-label">No tracks added yet.</p>
        <% end %>
        <%# display upcoming deadlines %>

        <% if @upcoming_projects.any? %>
          <h6>Your Upcoming Deadlines</h6>
          <ul>
            <% @upcoming_projects.each do |project| %>
              <li><span class="badge text-bg-light"><%= project.deadline.strftime('%Y-%m-%d %H:%M') %></span></li>
            <% end %>
          </ul>
        <% else %>
          <h6>No upcoming deadlines.</h6>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# display buddy %>
<div class="buddy-container">
  <%= image_tag("https://res.cloudinary.com/du53mgiot/image/upload/v1691219849/dog_main.png", height: 150, crop: :fill) %>
  <p class="buddy-text"><%= @greetings.sample %></p>
</div>
<div class="buddy-links text-center">
  <%# This should link to the buddy show page in the future %>
  <%= link_to buddy_path(@buddy) do %>
    <i class="fa-solid fa-paw dashboard-paw"></i>
  <% end %>
</div>




<div class="dashboard-add-btn text-center py-3">
  <button class="blue-btn">
    <%= link_to "Chat with your buddy!", chatroom_path(Chatroom.last)%>
  </button>
</div>

<div class="project-form-container">
  <%= render 'shared/project_form' %>
</div>


<%# display recommended projects %>
<%# <div class="container">
  <% if @recommended_projects.any? %>
  <%# <div class="card text-center"> %>
    <%# <div class="card-header"> %>
      <%# Try one of these tracks! %>
    <%# </div> %>
    <%# <% @recommended_projects.each do |project| %>
    <%# <div class="card-body"> %>
      <%# <h6 class="card-title"><strong><%= project.name %>
      <%# <p class="card-text">Subject: <%= project.subject %>
      <%# <p class="card-text">Topic: <%= project.learning_goal %>

      <%# <%= link_to 'âž¡ï¸ Try it now!', project_path(project), class: "btn btn-light" %>
      <%# <% end %>
    <%# </div> %>
      <%# <% else %>
      <%# <p>Ooops! Sorry! ðŸ˜¬</p> %>
      <%# <p>We don't have any matches for you... yet!</p> %>
      <%# <p>Want some recommendations? Try updating your interests ðŸ˜‰ <%= link_to "Here", profiles_path %>
  <%# </div> %>
  <%# <% end %>
<%# </div>
<br> %>
