<%= render "shared/navbar"%>
<div class="container" style="margin-bottom: 160px;">
  <div class="project-list">
    <%# title %>
    <div class="projects-page-title col-12 col-lg-6">
      <div class="title">
        <h1>My Learning Tracks</h1>
      </div>
      <%# paw %>
      <div class="paw">
        <ul>
          <li><i class="fa-solid fa-paw yellow-paw"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw-center"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw"></i></li>
        </ul>
      </div>
    </div>
<%# -------------------------projects tab -------------------------%>
<%# ---------------------------------------------------------------%>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <%# recommended %>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="recommended-tab" data-bs-toggle="tab" data-bs-target="#recommended-tab-pane" type="button" role="tab" aria-controls="recommended-tab-pane" aria-selected="true">Recommended</button>
      </li>
      <%# In progress %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="inprogress-tab" data-bs-toggle="tab" data-bs-target="#inprogress-tab-pane" type="button" role="tab" aria-controls="inprogress-tab-pane" aria-selected="false">In progress</button>
      </li>
      <%# Completed %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed-tab-pane" type="button" role="tab" aria-controls="completed-tab-pane" aria-selected="false">Completed</button>
      </li>
    </ul>
<%# -------------------------projects tab content-------------------------%>
<%# ---------------------------------------------------------------%>
    <div class="tab-content" id="myTabContent">
<%#------------------------- recommended -------------------------%>
      <div class="tab-pane fade show active" id="recommended-tab-pane" role="tabpanel" aria-labelledby="recommended-tab" tabindex="0">
        <div class="projects-listing-card">
          <% if @recommended_projects.any? %>
            <% @recommended_projects.each do |project| %>
              <div class="content">
                <div class="category-tag">
                  <p class="subject-tag"><%= project.subject %></p>
                  <p class="status-tag"><%= project.status.capitalize %></p>
                </div>
                <h6><strong>「<%= link_to project.name, project_path(project), class: 'lising-project-name' %>」</strong></h6>
                <%# <p><%= project.description</p>  %>
                <div class="content-bottom">
                  <p><small><i class="fa-regular fa-clock d-frex"></i>Deadline</small><br>
                    <small class= 'project-deadlinedate'><%= project.deadline %></small></p>
                  <button class="blue-btn">
                    <%= link_to "Show more", project_path(project)%>
                  </button>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>You currently don't have any Learning Tracks. Time to start something new!!</p>
        <% end %>
      </div>
<%#------------------------- In progress -------------------------%>
      <div class="tab-pane fade" id="inprogress-tab-pane" role="tabpanel" aria-labelledby="inprogress-tab" tabindex="0">
        <div class="projects-listing-card">
          <% if @in_progress_projects.any? %>
            <% @in_progress_projects.each do |project| %>
              <div class="content">
                <div class="category-tag">
                  <p class="subject-tag"><%= project.subject %></p>
                  <p class="status-tag"><%= project.status.capitalize %></p>
                </div>
                <h6><strong>「<%= link_to project.name, project_path(project), class: 'lising-project-name' %>」</strong></h6>
                <%# <p><%= project.description</p>  %>
                <div class="content-bottom">
                  <p><small><i class="fa-regular fa-clock d-frex"></i>Deadline</small><br>
                    <small class= 'project-deadlinedate'><%= project.deadline %></small></p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>You currently don't have any Learning Tracks. Time to start something new!!</p>
        <% end %>
      </div>
<%#------------------------- Completed -------------------------%>
      <div class="tab-pane fade" id="completed-tab-pane" role="tabpanel" aria-labelledby="completed-tab" tabindex="0">
        <div class="projects-listing-card">
          <% if @completed_projects.any? %>
            <% @completed_projects.each do |project| %>
              <div class="content">
                <div class="category-tag">
                  <p class="subject-tag"><%= project.subject %></p>
                  <p class="status-tag"><%= project.status.capitalize %></p>
                </div>
                <h6><strong>「<%= link_to project.name, project_path(project), class: 'lising-project-name' %>」</strong></h6>
                <%# <p><%= project.description</p>  %>
                <div class="content-bottom">
                  <p><small><i class="fa-regular fa-clock d-frex"></i>Deadline</small><br>
                    <small class= 'project-deadlinedate'><%= project.deadline %></small></p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>You currently don't have any Learning Tracks. Time to start something new!!</p>
        <% end %>
      </div>
<%# --------------------------------------------------%>
    </div>
  </div>
</div>
<%# display buddy %>
<div class="projectslist-buddy-container">
  <%= cl_image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1691307874/buddy-face_inetw9.png", height: 100, crop: :fill) %>
  <p class="buddy-text">Ain’t no mountain high enough baby!</p>
</div>
