<% content_for :current_page, 'projects' %>

<%= render "shared/navbar"%>
  <div class="container" style="margin-bottom: 160px;">
    <div class="project-list">
      <%# title %>
      <div class="projects-page-title col-12 col-lg-6">
        <div class="title">
            <h1>My Learning Tracks</h1>
        <%= link_to 'Completed Tracks', history_path, class: "small-link" %>
        <i class="fa-solid fa-arrow-right-long"></i>
        </div>

        <%# paw %>
        <div class="paw">
          <ul>
            <li><i class="fa-solid fa-paw yellow-paw"></i></li>
            <li><i class="fa-solid fa-paw yellow-paw-center"></i></li>
            <li><i class="fa-solid fa-paw yellow-paw"></i></li>
          </ul>
        </div>
      </div>


      <%# card list %>
      <div class="projects-listing-card">
        <%# Accepted projects will show only projects that the user added %>
        <% if @accepted_projects.any? %>
          <% @accepted_projects.each do |project| %>
        <div class="content">
          <div class="category-tag">
            <p class="subject-tag"><%= project.subject %></p>
            <p class="status-tag"><%= project.status.capitalize %></p>
          </div>

          <h6><strong>「<%= link_to project.name, project_path(project), class: 'lising-project-name' %>」</strong></h6>
          <%# <p><%= project.description</p>  %>
          <div class="content-bottom">
            <p><small><i class="fa-regular fa-clock d-frex"></i>Deadline</small><br><small class= 'project-deadlinedate'><%= project.deadline %></small></p>
            <button class="blue-btn">
              <%= link_to "Review", project_questions_path(project)%>
            </button>
          </div>
        </div>
          <% end %>
      </div>
          <% else %>
            <p>You currently don't have any Learning Tracks. Time to start something new!!</p>
          <% end %>

      <%# <div class="add-btn">
        <button class="blue-btn">
          <%= link_to "Add New Project", new_project_path%>
        <%# </button>
      </div> %>
    </div>
  </div>

    <%# display buddy %>
  <div class="projectslist-buddy-container">
    <%= cl_image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1691307874/buddy-face_inetw9.png", height: 100, crop: :fill) %>
    <p class="buddy-text">Ain’t no mountain high enough baby!</p>
  </div>
