<% content_for :current_page, 'new_project' %>

<%= render "shared/navbar"%>
<div class="row profile-edit col-12">
  <div class="container">
    <h3 class="text-center py-2">Add A New Project</h3>

    <div class="bg-white rounded-4 p-3 shadow edit-form">
      <%= simple_form_for @project, url: projects_path, method: :post do |f| %>
      <div class="form-group">
        <%= f.input :subject, placeholder: "Enter a subject" %>
        <%= f.input :learning_goal, placeholder: "Enter learning goal" %>
        <%= f.button :submit, "Create Project", class: "green-update-btn w-100" %>
      </div>
      <% end %>

    <%# <div class="suggested-project-card">
      <h4>Newly Created Project</h4>
      <h5><%= @project.name %>
      <%# <p><strong>Subject:</strong> <%= @project.subject %>
      <%# <p><strong>Learning Goal:</strong> <%= @project.learning_goal %>
    <%# </div> %>
  </div>
  </div>
</div>
<%= render "shared/loading_modal" %>
<%= render "shared/footer" %>
