<%# <%= render "shared/navbar"%> 
<div class="row project-list justify-content-center">
  <div class="container">
  <%# title %>
    <div class="projects-page-title col-12 col-lg-6">
      <div class="title">
          <h1>My Learning Tracks</h1>
      </div>
  <%# paw %>
    <div class="paw">
        <ul>
          <li><i class="fa-solid fa-paw yellow-paw"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw-center"></i></li>
          <li><i class="fa-solid fa-paw yellow-paw"></i></li>
        </ul>
      </div>
    </div>
  <%# project card %>
    <div class="showpage-projects-card">
      <div class="show-content">
        <div class="content-top">
          <div class="category-tag">
            <p><%= @project.category %></p>
          </div>
            <%# Update a pending project to accepted to display in projects list %>
            <% if @project.pending? %>
              <%= simple_form_for @project, url: project_path(@project) do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'accepted' } %>
              <div class="button-container">
                <%= f.submit 'Add', class: 'green-btn' %>
              </div>
              <% end %>
            <% end %>
          </div>
            <h6><strong><%= @project.name %></strong></h6>
            <p><%= @project.description%></p>
          <div class="content-bottom">
            <p>Deadline:<br><small><%= @project.deadline %></small></p>
          </div>
      </div>
    </div>

    <div class="showpage-projects-card show-status">
      <div class="show-status-content">
          <h6><strong>Status:</strong></h6>
          <p>My Progress:</p>
          <div class="progBar">
              <p class="bar"></p>
          </div>
          <p>Key Concepts Learned:</p>
          <p>Points earned: +<%= @project.points %></p>
        </div>
      </div>
      <div class="buddy-part">
        <%= cl_image_tag("https://res.cloudinary.com/dbmqippyl/image/upload/v1691307874/buddy-face_inetw9.png", height: 50, crop: :fill, class: "buddy-avatar")%>
          <button class="show-buddy-blue-btn">
            <p>Tell me more about this project!</p>
          </button>
      </div>
        <button class="green-btn buddy-part-button">
        <%# need to fix the link %>
            <%= link_to "Review Quiz", new_project_path%>
        </button>
    </div>
  </div>
